.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.run-query-btn {
    background-color: #645df9;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    letter-spacing: 0.7px;
}

.run-query-btn:hover {
    opacity: 0.9;
}

.show-ratios-btn {
    background-color: white;
    color: #4b5563;
    border: 1px solid #d1d5db;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}

.show-ratios-btn:hover {
    background-color: #f9fafb;
    color: #625afc;
}

.show-ratios-text{
    letter-spacing: 0.7px;
}